<div class="body"></div>
<app-student-nav-bar></app-student-nav-bar>

<div class="container" style="width: auto">
  <div class="main-body">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="form-check">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" checked="checked" value="{{false}}">
                <label class="form-check-label" for="inlineRadio1">Relevancia</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="{{true}}">
                <label class="form-check-label" for="inlineRadio2">Última Modificación</label>
              </div>
            </div>
            <label for="SelectCarrera" class="form-font">Carrera</label>
            <div class="input-group mb-3">
              <select class="form-control" id="SelectCarrera" (change)="getCursos(1)" (click)="getCarreras()">
                <option *ngFor="let carr of listaCarreras">{{ carr.carrera }}</option>
              </select><div class="input-group-append">
            </div>
            </div>
            <label for="SelectCurso" class="form-font">Curso</label>
            <div class="input-group mb-1">
              <select class="form-control" id="SelectCurso" (load)="getTemas()" (click)="getTemas()">
                <option *ngFor="let curs of listaCursos">{{ curs.curso }}</option>
              </select>
              <div class="input-group-append">
              </div>
            </div>
            <label for="ListaTemas" class="form-font" style="margin-top: 5px">Temas</label>
            <div class="input-group mb-1">
              <select class="form-control" id="ListaTemas" (load)="getTemas()">
                <option *ngFor="let tema of listaTemas">{{ tema.tema }}</option>
              </select>
              <div class="input-group-append">
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-9 text-secondary">
                <input type="button" class="btn btn-danger" value="Buscar" (click)="getEntradas()">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div>
                <h2 class="d-flex align-items-center mb-3 customH2">Entradas de conocimiento</h2>
              </div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">Título</th>
                  <th scope="col">Vistas</th>
                  <th scope="col">Puntuación</th>
                  <th scope="col">Autor</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Carrera</th>
                  <th scope="col">Curso</th>
                  <th scope="col">Tema</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Comentarios</th>
                  <th scope="col">Relevancia</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let entrada  of listaEntradas">
                  <th scope="row"><a routerLink="/entrada/{{entrada.idEntrada}}">{{entrada.titulo}}</a></th>
                  <td>{{entrada.vistas}}</td>
                  <td>{{entrada.puntuacion}}</td>
                  <td>{{entrada.primerNombre}} {{entrada.apellido}}</td>
                  <td>{{entrada.descripcion}}</td>
                  <td>{{entrada.carrera}}</td>
                  <td>{{entrada.curso}}</td>
                  <td>{{entrada.tema}}</td>
                  <td>{{formatoFecha(entrada.fechaCreacion)}}</td>
                  <td>{{entrada.cantComentarios}}</td>
                  <td>{{entrada.relevancia}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
