<div class="body"></div>
<app-student-nav-bar></app-student-nav-bar>

<div class="container" style="width: auto">
  <div class="main-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="{{foto}}" alt="Admin" class="rounded-circle p-1 bg-danger" width="110">
              <button class="btn btn-danger" (click)="openFile()" style="margin-top: 2%">Cambiar imagen
                <input type="file" style="display:none"  id="image"  name="name" accept=".png, .jpg .jpeg" #image (change)="setByteArray(image.files)">
              </button>
              <div class="mt-3" style="color: #2B2D42">
                <h2>{{this.fileService.getUser().primerNombre}} {{this.fileService.getUser().apellido}}</h2>
                <p class="mb-1"> <b>Usuario: </b>Estudiante Activo</p>
                <p class="mb-1"> <b>Fecha de unión: </b>{{fechaUnionModificada}}</p>
                <p class="font-size-sm"><b>Carnet: </b>{{this.fileService.getUser().carnet}}</p>
                <p class="font-size-sm"><b>Universidad: </b>XTecnológico de Costa Rica</p>
                <p class="font-size-sm"><b>Sede: </b>{{this.fileService.getUser().sede}}</p>
                <p class="font-size-sm"><b>Descripción: </b>{{this.fileService.getUser().descripcion}}</p>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-sm-3">
                <h3 class="mb-0" style="color: #2B2D42">Nombre</h3>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" id="nombre" value="{{this.fileService.getUser().primerNombre}}">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h3 class="mb-0" style="color: #2B2D42">Apellido</h3>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" id="apellido" value="{{this.fileService.getUser().apellido}}">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h3 class="mb-0" style="color: #2B2D42">Correo eléctronico</h3>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" id="correo" value="{{this.fileService.getUser().correo}}">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h3 class="mb-0" style="color: #2B2D42">Número telefónico</h3>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" id="telefono" value="{{this.fileService.getUser().telefono}}">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h3 class="mb-0" style="color: #2B2D42">Descripción</h3>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" id="descripcion" value="{{this.fileService.getUser().descripcion}}">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h3 class="mb-0" style="color: #2B2D42">Contraseña</h3>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" id="contrasena" value="{{this.fileService.getUser().password}}">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-9 text-secondary">
                <input type="button" class="btn btn-danger" value="Guardar cambios" (click)="editarPerfil()">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div>
                <h2 class="d-flex align-items-center mb-3 customH2">Mis entradas de conocimiento</h2>
                <input type="button" routerLink="/crearEntrada" class="btn btn-danger" style="margin-bottom: 10px" value="Nueva entrada de conocimiento">
              </div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">Título</th>
                  <th scope="col">Vistas</th>
                  <th scope="col">Puntuación</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Visibilidad</th>
                  <th scope="col">Carrera</th>
                  <th scope="col">Curso</th>
                  <th scope="col">Tema</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let entrada  of listaEntradas">
                  <th scope="row"><a routerLink="/entrada/{{entrada.idEntrada}}">{{entrada.titulo}}</a></th>
                  <td>{{entrada.vistas}}</td>
                  <td>{{entrada.puntuacion}}</td>
                  <td>{{entrada.descripcion}}</td>
                  <td>
                    <div class="form-check">
                      <div *ngIf="entrada.visible === true">
                        <input class="form-check-input" type="checkbox" id="check1{{entrada.idEntrada}}" (change)="cambiarVisibilidad(entrada.idEntrada)" checked>
                        <label class="form-check-label" for="check1{{entrada.idEntrada}}">
                          Visible
                        </label>
                      </div>
                      <div *ngIf="entrada.visible === false">
                        <input class="form-check-input" type="checkbox" id="check0{{entrada.idEntrada}}" (change)="cambiarVisibilidad(entrada.idEntrada)">
                        <label class="form-check-label" for="check0{{entrada.idEntrada}}">
                          No visible
                        </label>
                      </div>
                    </div>
                  </td>
                  <td>{{entrada.carrera}}</td>
                  <td>{{entrada.curso}}</td>
                  <td>{{entrada.tema}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
