.colDerecha {
  width: 80%;
  background-color: #EDF2F4;
  border:1px solid black;
}

.colIzquierda {
  width: 20%;
  background-color: #EDF2F4;

}

h1{
  color: #2B2D42;
}
.articleText {
  height: 602px;
  overflow-y: scroll;
}

.titulo{
  font-size: xxx-large;
  margin-top: 3%;
}
.cuerpo{
  font-size: x-large;
  margin-top: 1%;
}

.comment {
  border: 1px solid #EDF2F4;
  background-color: #8D99AE;
  float: left;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px
}

.comment h4,
.comment span,
.darker h4,
.nota,
.darker span {
  display: inline
}
.commentImage{
  margin-right: 10px;
}
