<app-student-nav-bar></app-student-nav-bar>

<div class="row">
  <div class="col-3 colIzquierda text-left">
    <div style="margin-top: 2%; margin-left: 2%; color: #2B2D42">
      <h1><b>Descripción: </b>{{entrada.descripcion}}</h1>
      <h1><b>Puntuación: </b>{{entrada.puntuacion}}</h1>
      <h1><b>Vistas: </b>{{entrada.vistas}}</h1>
      <h1><b>Fecha de creación: </b>{{transformDate()}}</h1>
      <button class="btn btn-outline-danger" (click)="openCentrado(comentarios)">Ver comentarios</button>
      <form>
        <div class="form-group">
          <label for="nota" style="margin-top: 15px">Mi nota seleccionada</label>
          <select class="form-control" id="nota">
            <option value="" selected disabled>Seleccione una nota para el artículo</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>
        <div class="form-group">
          <label for="comentario">Ingrese su comentario</label>
          <textarea class="form-control" id="comentario" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-danger">Enviar evualación</button>
      </form>
      <div *ngIf="entrada.existeArchivo" style="margin-top: 10px">
        <button type="button" class="btn btn-outline-danger" (click)="download()">Descargar archivo adjunto</button>
      </div>
      <div *ngIf="entrada.carnet===fileService.getUser().carnet" style="margin-top: 10px">
        <button type="button" class="btn btn-outline-info" style="margin-bottom: 10px">Modificar</button>
      </div>

    </div>
  </div>
  <div class="col colDerecha colDerecha">
    <div class="articleText">
      <h1 class="titulo">{{entrada.titulo}}</h1>
      <h1 class="cuerpo">
        <div [innerHTML]="entrada.cuerpoArticulo"></div>
      </h1>
    </div>
  </div>
</div>

<ng-template #comentarios let-modal>
  <div class="modal-header">
    <h1 class="modal-title" style="color: #2B2D42">Comentarios</h1>
    <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="comment mt-4 text-justify float-left"> <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle commentImage" width="40" height="40">
      <h4> <b>Autor: </b>    Jhon Doe    </h4> <span>  <b>Fecha: </b> 20 October, 2018      <b>Nota: </b> 7</span> <br>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam assumenda hic aliquam vero sequi velit molestias doloremque molestiae dicta?</p>
    </div>



  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger"  (click)="modal.dismiss()">Cerrar</button>
  </div>
</ng-template>



<app-footer></app-footer>
