<app-student-nav-bar></app-student-nav-bar>
<div class="container">
  <form class="select-custom">
    <h1>Crear Artículo</h1>'
    <label for="SelectCarrera" class="form-font">Carrera</label>
    <div class="input-group mb-3">
      <select class="form-control" id="SelectCarrera" (change)="getCursos(1)" (click)="getCursos(1)">
        <option *ngFor="let carr of listaCarreras">{{ carr.carrera }}</option>
      </select><div class="input-group-append">
    </div>
    </div>

    <label for="SelectCurso" class="form-font">Curso</label>
    <div class="input-group mb-1">
      <select class="form-control" id="SelectCurso" (load)="getTemas()" (click)="getTemas()">
        <option *ngFor="let curs of listaCursos">{{ curs.curso }}</option>
      </select>
      <div class="input-group-append">
      </div>
    </div>
    <label for="ListaTemas" class="form-font" style="margin-top: 5px">Temas</label>
    <div class="input-group mb-1">
      <select class="form-control" id="ListaTemas" (load)="getTemas()">
        <option *ngFor="let tema of listaTemas">{{ tema.tema }}</option>
      </select>
      <div class="input-group-append">
      </div>
    </div>

  </form>
  <label for="titulo"></label><input type="text" class="form-control" id="titulo" aria-describedby="emailHelp" placeholder="{{entradaAnterior.titulo}}" style="margin-top:25px;">
  <label for="descripcion"></label><input type="text" class="form-control" id="descripcion" aria-describedby="emailHelp" placeholder="{{entradaAnterior.descripcion}}">
  <form [formGroup]="entrada" (ngSubmit)="submit()">
    <editor
      apiKey="b7lxug636gyeerlit3h7jrrl1la1fc7airfeak0o32ut6x3a"
      id="editorId"
      initialValue="{{entradaAnterior.cuerpoArticulo}}"
      formControlName="message"
      [init]="{
    height: 500,
    menubar: false,
    plugins: [
      'advlist autolink lists link image charmap print',
      'preview anchor searchreplace visualblocks code',
      'fullscreen insertdatetime media table paste',
      'help wordcount'
    ],
    toolbar:
      'undo redo | formatselect  | bold italic  forecolor backcolor | alignleft aligncenter alignright alignjustify | ' +
       'bullist numlist outdent indent| removeformat | link  image| help'
  }"
    >
    </editor>
  </form>
  <div class="row">
    <div class="column">
      <div class="row" style="margin-top:15px;">
        <div class="col-md-3">
          <button type="button" class="btn btn-success" (click)="file.click()">Subir Archivo</button>
          <input type="file" #file placeholder="Choose file" (change)="subirArchivo(file.files)" style="display:none;">
        </div>
        <div class="col-md-4">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
          <span class="upload" *ngIf="message">
      {{message}}
    </span>
        </div>
      </div>
    </div>
    <div class="column">
      <input *ngIf="nuevo"  type="button" class="btn btn-danger" value="Publicar Entrada" (click)="uploadFile()" style="float: right;">
      <input *ngIf="!nuevo"  type="button" class="btn btn-danger" value="Modificar Entrada" (click)="uploadFile()" style="float: right;">
    </div>
  </div>
</div>

<app-footer></app-footer>
